/*
 * Custom style goes here.
 * A template should always ship with an empty custom.css
 */
 /*Modificacion del color del boton de promociones */
 .btn-promo{
  background-color:#3c3c3b!important;
  border-color:#3c3c3b!important;
  }
  
  
  /*Para CMS de promo*/
  .columna {
  width:33%;
  float:left;
  padding: 0px 1%;
}
/*Poner opiniones verificadas en la parte inferior*/
.av_category_stars {
order:4;
    width:100%!important;
}
.product-desc-wrap{
    height:90px;
}



@media (max-width: 500px) {
  
  .columna {
    width:auto;
    float:none;
  }
  
}


/*	CAMBIOS EXTREMOVIRTUAL */

/* En las páginas de categorías aparece un margen blanco a la derecha que no tiene sentido por debajo de los 800 píxeles de ancho */
@media (max-width: 800px) {
	
	#js-product-list-top.products-selection.flex-container {
		display: grid;
		grid-template-columns: [c1] 30% [c2] 70% [c3];
		grid-template-rows: [r1] 32px [r2] 32px [r3];
		row-gap: 12px;
		margin-bottom: 30px;
	}
	
	#js-product-list-top.products-selection > .listing_view {
		grid-column: c1 / c2;
		grid-row: r1 / r2;
	}
	
	#js-product-list-top.products-selection > .products-sort-order {
		grid-column: c2 / c3;
		grid-row: r1 / r2;
	}
	
	#js-product-list-top.products-selection > .sort-by-row {
		grid-column: c1 / c3;
		grid-row: r2 / r3;
	}
	
	#js-product-list-top.products-selection > .sort-by-row  > .products-sort-order > a {
		width: 100% !important;
	}
	
	#js-product-list-top .perpage-selector {
		max-width: none;
	}
	
}

/*	En algunos productos cuando tienen vídeo en Youtube desde móvil aparece más espacio a la derecha */
.video-responsive {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*	Estilos para el acordeón que despliega los filtros en la versión móvil */
.accordion-container {
	position: relative;		
	margin: 10px auto;
}

.accordion-container .set {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
}

.accordion-container .set > a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #555;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

.accordion-container .set > a.active {
	background-color:#3399cc;
	color: #fff;
}

.accordion-container .content {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	display:none;
}

/* En la versión móvil de las páginas de producto, los H2 salen con poco interlineado */
h2 {
	line-height: 1.25em;
}

/* Quitar borde izquierdo de la barra de búsqueda de la cabecera */
#header #search_widget form {
		border-left: none;
}

/* Quitar la opción de añadir a Favoritos en las miniaturas de los productos */
.thumbnail-container .product-thumbnail .product-actions .addToFav {
	display: none;
}

/* Mejoras en el header de la tienda */
.widget-logo .dib {
	width: 100%;
    text-align: center;
}

.widget-logo img.logo {
	max-height: 40px !important;	
}

.pkheaderitems .pk-right.pk-space-60 > li {
	margin: 0 0 0 30px !important;
}

/* Contenedor para Landing Pages */
.landing-page {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	
	.landing-page {		
		max-width: 90%;		
	}
	
}

/* Mejoras en el responsive de la tienda */
.rev-sli-mobile {
	display: none;
}

@media (max-width: 1426px) {
	
	body .headerbuilder .header-7 .pk-menu-horizontal li.level-1 > a {
		padding: 10px 16px !important;
	}
	
}

@media (max-width: 768px) {
	
	#header .header-top {
		padding: 4%;		
	}
	
	#header .header-top .logo {
		max-height: 50px;
	}
	
	#header .header-icons > li {
		width: 20px;
	}	
	
	#header .main-menu {
		padding: 4%;
		margin-bottom: 0;
	}
	
	#header .main-menu .flex-container {
		justify-content: flex-start;
		align-items: center;
	}
	
	#header .main-menu .flex-container .pk-menu-title,
	#header .main-menu .flex-container .pk-menu-horizontal {
		flex-grow: 0;
	}
	
	.rev-sli-desktop {
		display: none;
	}
	
	.rev-sli-mobile {
		display: block;
	}
	
	#wid-key_1632410907633 iframe {
		height: 320px;		
	}
	
	#wid-key_1632410907633 iframe body {
		overflow: hidden !important;
	}
	
}

@media (max-width: 570px) {
	
	.header-info.widgets-row.widgets-left,
	.header-searchbar.widgets-row.widgets-right	{
		justify-content: center;
	}
	#header .header-searchbar #search_widget {
		margin: 0;
	}
	#header .header-searchbar #search_widget input[type="text"] {
		width: 350px;
	}
	
}

@media (max-width: 480px) {	
	
	#header .header-searchbar #search_widget input[type="text"] {
		width: 100%;
	}
	
}

@media (max-width: 425px) {
	
	.widget-logo img.logo {		
		margin-bottom: 30px;
	}
	
	.product-desc-wrap .product-description {
		flex-flow: column-reverse wrap;
	}
	
	.product-desc-wrap .product-description .product-title,
	.product-desc-wrap .product-description .product-price-and-shipping	{
		width: 100% !important;
		align-items: center !important;
		position: inherit !important;
	}

	.product-desc-wrap{
		height: inherit;
	}
	
}

@media screen and (max-width: 480px){
	.modo-desktop{
		display:none;
	}

	.headerbuilder .header-border-bottom {
		padding-top: 15px;
	}

	.widget-logo img.logo {
		margin-bottom: 20px;
	}

	/*Separar el menu hamburguesa de los iconos*/
	#header .pk-widget{
		margin: auto;
 	}
	
 	#header .widgets-left, .widgets-row{
 		/*display: flex;
		justify-content: space-between;*/
		margin-top: 5px !important;
 	}

	#header #search_widget {
		margin: auto;
	}

	/*Conservar el tamaño del div de los iconos*/
	#header .pk-widget, .widget-headeritems{
		width: 100%;
		position: static;
 	}

 	#header .pkheaderitems{
 		position: static;
 	}

 	#header .pkheaderitems ul{
		flex-wrap: unset;
		position: static;
		right: 0;
 	}

 	#header .pkheaderitems ul > li{
		position: static;
		margin: 0 0 0 20px !important;
 	}

 	/* Barra de busqueda */
	#header .pkheaderitems ul > .pk_search div {
		background: none;
		box-shadow: none;
		left: 0;
		width: 100%;
 	}
 	
 	.dd_cont .indent{
 		padding: 0;
 	}

	/*#header :where(#header .pkheaderitems ul > .pk_search a:focus), #search_widget input[type="text"]:focus{
		transition: all 0.2s ease-in-out;
		outline: rgba(0, 0, 0, 0.6) solid 810px;	
	}/**/

	/*Oscurecer pagina cuando este la barra de busqueda*/
 	#search_widget input[type="text"]:focus {
		transition: all 0.2s ease-in-out;
		outline: rgba(0, 0, 0, 0.6) solid 810px;	
	}
 	
 	/*Menu recoge el ancho completo de la pagina*/
 	#header .pk-widget #top-menu{
		position: fixed;
 	}

	/*Menu de usuario logueado*/
 	#header .pkheaderitems ul > .pk_myaccount div:not(.indent) {
 		right: 0;
		margin: 20px 0 0 0!important;
 	}

 	#header .pkheaderitems ul > .pk_myaccount ul {
		position: relative;
 	}

 	#header .pkheaderitems ul > .pk_myaccount ul > li {
		margin: 0 !important;
 	}

    /*Quitar icono de abrir submenu*/
	.pk-menu-horizontal .pk-collapse-icons svg {
    	display:none;
    }
}

@media screen and (min-width: 481px){
	.modo-mobile{
		display:none;
	}
	
}


/*	FIN CAMBIOS EXTREMOVIRTUAL */

/*Modificaciones de Compra Conjunta*/
#idxrrelatedproducts-ficha-producto .producto-item .nombre-producto {
    font-family: Muli !important;
    
}
div#idxrrelatedproducts-ficha-producto .producto-item .precio-producto .product-price {
    color: #E30137!important;
    font-weight:400 !important;
    font-size:18px!important;

}

#idxrrelatedproducts-add-to-cart a, div#idxrrelatedproducts-add-to-cart button, #idxrrelacionadosShoppingCart a.anadir-al-carrito {

    background-color: #2fb5d2;

}
#idxrrelatedproducts-add-to-cart .precio-final {
    font-family: Muli !important;
    color: black!important;
    font-weight:400 !important;

}
#idxrrelatedproducts-add-to-cart .precio-final span{
    font-family: Muli !important;
    color: #E30137!important;
     font-weight:700 !important;

}
#idxrrelatedproducts-add-to-cart a, div#idxrrelatedproducts-add-to-cart button, #idxrrelacionadosShoppingCart a.anadir-al-carrito {
    width:auto!important;
    background-color:#0988f8!important;
    display:flex;
}
.idxr-icon-cart {
    display: none;
}

.idxrrelatedproducts-toggle .btn-success {
    background-color: #F2F0F0 !important;
    color:black!important;
}  
.idxrrelatedproducts-toggle .btn-success hover{
}  

.idxrrelatedproducts-toggle .btn-danger {
    background-color: #3C3C3B!important;
}

#idxrrelatedproducts-ficha-producto {
padding-top:0px!important;
    margin: 0 !important;
}
#idxrrelatedproducts-add-to-cart .precio-final {

    border: 0px!important;
    padding: 0px 10px 10px 0 !important;
    text-align:left!important;

}
#idxrrelatedproducts-add-to-cart{
margin-top:0px!important;    
}
#idxrrelatedproducts-ficha-producto .producto-item .precio-producto .product-discount, div#idxrrelatedproducts-ficha-producto .producto-item .precio-producto .product-price.old-price {
    display: none!important;
  }
  #idxrrelatedproducts-ficha-producto[data-hook="displayProductButtons"] .producto-item .nombre-producto {
    height: 70px!important;
}



@media (max-width: 570px) {	
	
  #idxrrelatedproducts-ficha-producto[data-hook="displayProductButtons"] .producto-item .nombre-producto {
    height: 54px!important;
}
	
}

/*Fin Compra Conjunta*/

/*Classes Genericos*/
#header {
    border-bottom:none!important;
}
.ocultar{
    display:none;
}

/*Fin Classes Genericos*/


/*Selector Idioma*/

    /*Activar español*/
        .idiomasp img:lang(gb){
            display:none;
        }
        .idiomasp img:lang(en){
            display:none;
        }
        .idiomasp img:lang(fr){
            display:none;
        }
        .idiomasp img:lang(pt){
            display:none;
        }
        .idiomasp img:lang(it){
            display:none;
        }
    /*Fin Activar español*/
   
    
    /*Activar frances*/
        .idiomafr img:lang(gb){
            display:none;
        }
        .idiomafr img:lang(en){
            display:none;
        }
        .idiomafr img:lang(es){
            display:none;
        }
        .idiomafr img:lang(pt){
            display:none;
        }
        .idiomafr img:lang(it){
            display:none;
        }
    /*Fin Activar frances*/
    
        /*Activar italiano*/
        .idiomait img:lang(gb){
            display:none;
        }
        .idiomait img:lang(en){
            display:none;
        }
        .idiomait img:lang(es){
            display:none;
        }
        .idiomait img:lang(pt){
            display:none;
        }
        .idiomait img:lang(fr){
            display:none;
        }
    /*Fin Activar GB*/
    
            /*Activar italiano*/
        .idiomagb img:lang(it){
            display:none;
        }

        .idiomagb img:lang(es){
            display:none;
        }
        .idiomagb img:lang(pt){
            display:none;
        }
        .idiomagb img:lang(fr){
            display:none;
        }
    /*Fin Activar UK*/
    
/*Fin Selector Idioma*/

/*Parte del Avisame cuando este disponible*/
    .js-mailalert .btn{
    border-color:#F8F8F8;
    background:#F8F8F8;
    color:#000;
    font-size: 15px;
    line-height: 18px;
    padding: 12px 20px;

}
/*Fin Parte del Avisame cuando este disponible*/

/*Quitar fondo disponible preorder*/
.bestkit_available_date{
    background:transparent;
}
#bestkit_preordert_cms {
    background:transparent;
}
/*Fin Quitar fondo disponible preorder*/


/*CSS Genericos*/
#top-menu .thumbnail-container .relative{
    padding-top: 0.45em;

}
#top-menu .product-description{
    align-self:center;
}

#top-menu .product-price-and-shipping{
    margin-bottom: 0px;
}
#top-menu .product-title{
    margin-bottom: 0px;
}

.ocultar{
    display:none!important;
}
span.in_progress{
    margin:0px;
}
/*FIN CSS Genericos*/

/*Menu movil*/

@media screen and (max-width: 480px){

.widget-logo .dib {
    position: absolute;
    width: 40%;
    left: 74px;
    margin-bottom: 0px;
    margin-top: 7px;
    z-index: 9;
    }
.pkheaderitems{
    display: flex;
    justify-content: flex-end;
    }
.modo-mobile{
    padding-top: 0.2em;
    padding-bottom: 0.7em;
    }


}


/*Fin Menu movil*/
#scalapayPopUpTrigger > #sp-container{
	display: block;
	font-size: 0.7em;
	color: black;
}